services:
  web:
    build: .
    ports:
      - "8000:8000"

    environment:
      - UV_NO_DEV=0
    
    develop:
      watch:
        - action: sync
          path: .
          target: /app

          ignore:
            - '**/__pycache__/**'
            - '**/*.pyc'
            - '.git/**'
            - .venv/
        
        - action: rebuild
          path: ./uv.lock