name: Crypto Forecasting MLOps Pipeline

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
    e2e_crypto_mlops_workflow:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            
            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: ".python-version"
            
            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Install the project
              run: uv sync --locked --all-extras --dev

            - name: Enable caching
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN}}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Extract short commit hash
              id: commit
              run: echo "hash=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

            - name: build Push
              uses: docker/build-push-action@v6
              with:
                push: true
                tags: |
                  magdy288/crypto_forecasting:latest
                  magdy288/crypto_forecasting:${{ steps.commit.outputs.hash }}
                context: "."
                file: "dockerfile"