name: Crypto Forecasting MLOps Pipeline

on: 
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
    e2e_crypto_mlops_workflow:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v6
            
            - name: Set up Python
              uses: actions/setup-python@v6
              with:
                python-version-file: ".python-version"
            
            - name: Install uv
              uses: astral-sh/setup-uv@v7

            - name: Install the project
              run: uv sync --locked --all-extras --dev

            - name: Enable caching
              uses: astral-sh/setup-uv@v7
              with:
                enable-cache: true

            
            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                registry: docker.io
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN}}

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Push Docker image to DockerHub
              run: |
                COMMIT_HASH=$(echo ${{ github.sha }} | cut -c1-7)
                docker tag docker.io/${{ vars.DOCKERHUB_USERNAME }}/crypto_forecasting:$COMMIT_HASH docker.io/${{ vars.DOCKERHUB_USERNAME }}/crypto_forecasting:latest
                docker push docker.io/${{ vars.DOCKERHUB_USERNAME }}/crypto_forecasting:$COMMIT_HASH
                docker push docker.io/${{ vars.DOCKERHUB_USERNAME }}/crypto_forecasting:latest